.container {
  display: flex;
}

.left {
  flex-basis: 20%;
}

.center {
  flex-basis: 50%;
}

.right {
  flex-basis: 30%;
  text-align: right;
}

div {
  padding: 10px;
}

.left, .right, .center {
  border: 1px solid black;
}

.done {
  color: green;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.in_progress {
  color: red;
  border-bottom: 1px solid black;
  padding-bottom: 5px;

}